*{
    padding: 0px;
    margin: 0px;
}

.logo{
    height:50px;
    width: auto;
}

.cart-icon{
    font-size: 17px;
    color:none;
    margin-left:10px;
    cursor:pointer;
    color: white; 
}

.nav-pills{
    background-color: rgb(94, 94, 94);
    width: 100%;
}

.nav-pills .nav-link{ 
    color: rgb(255, 255, 255);
    transition: 0.2s ease;
}

.nav-pills .nav-link:hover{ 
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    background-color:#ffcf04;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

.nav-pills .nav-link:active{ 
    color: rgb(255, 255, 255);
    color: antiquewhite;
}

/* tablet */
@media (min-width:768px){
    .logo{
        height:100px;
        width: auto;
    }
}

/* desktop */
@media (min-width:1200px){
    .logo{
        height:150px;
        width: auto;
    }
}
body{
    background-color: rgb(180, 180, 180);
}